@model Tuple<DoubleTFurniture.Models.Product,List<DoubleTFurniture.Models.Category>>
@{
    ViewBag.Title = "editProduct";
    Layout = "~/Views/Shared/admin_layout.cshtml";
}

<div class="content-wrapper">
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    SỬA SẢN PHẨM
                </div>
                <div class="panel-body">
                    <!-- thêm action vào -->
                    <form role="form" action="~/Admin/editProductHandle" enctype="multipart/form-data">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mã sản phẩm</label>
                                <input class="form-control" type="text" value="@Model.Item1.masanpham" readonly name="masanpham"/>
                            </div>
                            <div class="form-group">
                                <label>Tên sản phẩm</label>
                                <input class="form-control" type="text" value="@Model.Item1.tensanpham" name="tensanpham"/>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea class="form-control" rows="3" name="mota">@Model.Item1.mota</textarea>
                            </div>
                            <div class="form-group">
                                <label>Giá</label>
                                <input class="form-control" type="number" value="@Model.Item1.gia" name="gia"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Màu sắc</label>
                                <input class="form-control" type="text" value="@Model.Item1.mau" name="mau"/>
                            </div>
                            <div class="form-group">
                                <label>Chất liệu</label>
                                <input class="form-control" type="text" value="@Model.Item1.chatlieu" name="chatlieu"/>
                            </div>
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input class="form-control" type="file" name="hinhanh" value="@Model.Item1.hinhanh"/>
                            </div>
                            <div class="form-group">
                                <!-- Đổ category ra đây -->
                                <label>Danh mục</label>
                                <select class="form-control" name="madanhmuc">
                                    @foreach(var item in Model.Item2)
                                    {
                                        <option value="@item.madanhmuc">@item.tendanhmuc</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info" style="float: right; margin-right: 15px;margin-top: 50px;">Sửa sản phẩm  </button>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

